*.config linguist-language=nextflow
*.nf.test linguist-language=nextflow
modules/nf-core/** linguist-generated
subworkflows/nf-core/** linguist-generated
assets/dataset/sim_Com_5_5M_cov20 filter=lfs diff=lfs merge=lfs -text
assets/dataset/sim_Com_5_5M_cov20/** filter=lfs diff=lfs merge=lfs -text
