/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/fspassemblypipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input options
    input                      = null


    // tiara
    min_contig_size             = 1000
    // tiara has a contig size filter, the lowest option it will accept is 1000 bp.


    // fcs-gx
    db_path                    = null
    ramdisk_path               = null

    // blobtools (may be used for future features,ignore for)
    taxdump                    = null

    // Fastp step 1 (trim/filter) options
    fastp_trim_min_length            = 30
    fastp_trim_poly_g_min_len        = 8
    fastp_trim_front1                = 2
    fastp_trim_cut_window_size       = 3
    fastp_trim_cut_front             = true
    fastp_trim_cut_tail              = true
    fastp_trim_dedup                 = true
    fastp_trim_low_complexity_filter = true
    fastp_trim_complexity_threshold  = 15

    // Fastp step 2 (merge) options
    fastp_merge_min_length           = 30
    fastp_merge_overlap_len_require  = 20
    fastp_merge_overlap_diff_limit   = 2

    // Fastp shared options
    fastp_adapter_fasta              = null
    fastp_extra_args                 = ''

    // FastK options
    fastk_kmer                 = 17 // k-mer size
    fastk_t                    = 1 // include kmer frequency >= t in the output
    fastk_verbose              = true // add -v for verbose FastK logs
    fastk_profile_output       = true // add -p to produce profile outputs
    fastk_extra_args           = '' // additional FastK args

    // Histex options
    histex_g_output            = true // add -G to output full histogram format for GeneScopeFK
    histex_extra_args          = '' // additional Histex args

    // Chose what kind of reads to use for genome assembly
    use_paired_reads = true   // Run GENOME_ASSEMBLY workflow (paired-end R1/R2)
    use_merged_reads = true  // Run GENOME_ASSEMBLY_MERGED workflow (uses merged reads)

    // k-mer strategy options
    skip_manual_strategy       = false // whether to skip manual k-mer strategy selection and use the default k-mer strategy
    skip_kmergenie_strategy     = false // whether to skip Kmergenie strategy selection and use the default k-mer strategy
    skip_reads_length_strategy   = false // whether to skip read length strategy selection and use the default k-mer strategy

    // Kmergenie options
    kmergenie_largest_kmer     = 121 // largest k-mer size to consider (default: 121)
    kmergenie_smallest_kmer    = 15  // smallest k-mer size to consider (default: 15)

    // Spades options
    skip_spades                  = false // whether to skip SPAdes assembly
    spades_kmer_list           = 'auto' // list of k-mer sizes (must be odd and less than 128) [default: 'auto']
    spades_extra_args          = '--only-assembler' // add here any extra  param

    // Megahit options
    skip_megahit               = false // whether to skip MEGAHIT assembly
    megahit_kmer_list          = '21,29,39,59,79,99,119,141' // comma-separated list of kmer size all must be odd, in the range 15-255, increment <= 28 [21,29,39,59,79,99,119,141]
    megahit_extra_args         = '--no-mercy --min-count 3'

    // Minia options
    skip_minia                 = false // whether to skip Minia assembly
    minia_kmer                 = 21
    minia_extra_args           = null

    // Abyss options
    skip_abyss                 = false // whether to skip Abyss assembly
    abyss_kmer                 = 21
    abyss_extra_args           = null

    // SparseAssembler options
    skip_sparseassembler               = false // whether to skip SparseAssembler assembly
    sparseassembler_kmer               = 21
    sparseassembler_genome_size        = 150000000
    sparseassembler_scaffold           = 1
    sparseassembler_expected_coverage  = 10
    sparseassembler_extra_args         = 'Scaffold 1 g 10 LD 0 NodeCovTh 1 EdgeCovTh 0'

    // Masurca options
    skip_masurca               = false // whether to skip Masurca assembly
    masurca_fragment_mean      = 100
    masurca_fragment_stdev     = 50
    masurca_kmer_size          = 'auto'
    masurca_ca_parameters      = 'cgwErrorRate=0.15' // set cgwErrorRate=0.25 for bacteria and 0.1<=cgwErrorRate<=0.15 for other organisms
    masurca_jf_size            = 300000000 // this is mandatory jellyfish hash size -- a safe value is estimated_genome_size*20
//  Note that the following parameters are always set as follows:
// USE_GRID=0
// CLOSE_GAPS=1
// SOAP_ASSEMBLY=0
// MEGA_READS_ONE_PASS=0
// other parameters for long-reads, jump reads, mate-pairs, and slurm related options (customisable from masurca config) are ignored (for slurm, nextflow will take care of it).

    // BUSCO options
    busco_mode                 = 'genome'
    busco_lineage              = 'fungi_odb12'
    busco_db_extension         = 'odb12'
    lineages_list_file         = './assets/fungi_busco_lineages.txt'
    busco_lineages_path        = '/home/lobinu/git_repos/fspassemblypipeline/data'
    busco_config_file          = null
    busco_clean_intermediates  = false
    busco_extra_args           = '--offline'

    // QUAST options:
    quast_extra_args           = '--min-contig 250'

    // Pypolca options:
    pypolca_extra_args        = '--careful'

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Backwards compatibility for publishDir syntax
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test              { includeConfig 'conf/test.config'      }
    test_full         { includeConfig 'conf/test_full.config' }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/fspassemblypipeline custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load nf-core/fspassemblypipeline custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/fspassemblypipeline.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/fspassemblypipeline'
    contributors    = [
        [
            name: 'Lia Obinu',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Niall Garvey',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Wu Huang',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Chris Wyatt',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Fernando Duarte Frutos',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/fspassemblypipeline'
    description     = """Genome assembly pipeline for the Fungarium Sequencing Project, designed to process and assemble genomes from Illumina short reads to be used for research and biodiversity studies."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.4'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
