/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'SEQKIT_STATS' {
        ext.args = '--all'  // add any extra arguments
        publishDir = [
            path: { "${params.outdir}/R1R2/reads_length/${meta.id}/seqkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTK_FASTK' {
        ext.args = {"-k${params.fastk_kmer} -t${params.fastk_t}"}
        publishDir = [
            path: { "${params.outdir}/fastk/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SPADES' {
        ext.args = {
            [
                "-k ${params.spades_kmer_list}",
                params.spades_extra_args ? "${params.spades_extra_args}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/R1R2/manual/${meta.id}/spades" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MEGAHIT' {
        ext.args = {
            [
                "--k-list ${params.megahit_kmer_list}",
                params.megahit_extra_args ? "${params.megahit_extra_args}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/R1R2/manual/${meta.id}/megahit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIA' {
        ext.args = {
            [
                "-kmer-size ${params.minia_kmer}",
                params.minia_extra_args ? "${params.minia_extra_args}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/R1R2/manual/${meta.id}/minia" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RENAME_ASSEMBLIES' {
        publishDir = [
            path: { "${params.outdir}/assemblies/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BUSCO_BUSCO' {
        ext.args = {
            [
                params.busco_extra_args ? "${params.busco_extra_args}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/R1R2/manual/${meta.id}/busco_general/${meta.assembler}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BUSCO_SPECIFIC' {
        ext.args = {
            [
                params.busco_extra_args ? "${params.busco_extra_args}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/R1R2/manual/${meta.id}/busco_specific/${meta.assembler}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MERQURYFK_MERQURYFK' {
        publishDir = [
            path: { "${params.outdir}/R1R2/manual/${meta.id}/merquryfk/${meta.assembler}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUAST' {
        ext.args = {
            [
                params.quast_extra_args ? "${params.quast_extra_args}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
