/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'SEQKIT_STATS' {
        ext.args = '--all'  // add any extra arguments
    }

    withName: 'FASTK_FASTK' {
        ext.args = {"-k${params.fastk_kmer} -t${params.fastk_t}"}
    }

    withName: 'SPADES' {
        ext.args = {"-k ${params.spades_kmer_list} ${params.spades_extra_args ?: ''}"}
    }

    withName: 'MEGAHIT' {
        ext.args = {"--k-list ${params.megahit_kmer_list} ${params.megahit_extra_args ?: ''}"}
    }

    withName: 'MINIA' {
        ext.args = { "-kmer-size ${params.minia_kmer} ${params.minia_extra_args ?: ''}" }
    }

    withName: 'BUSCO' {
        ext.args = {"${params.busco_extra_args ?: ''}"}
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
